footer
    .tf
        a(href='/') Home      
    .tf
        a(href='/hotels') Hotels       
    .tf
        a(href='/songs')  Songs
    .tf
        a(href='/places') Places      
    .tf
        a(href='/hidden') Hidden Places       