doctype html
html(lang='en')
  head
    meta(charset='UTF-8')   
    meta(name='viewport', content='width=device-width, initial-scale=1.0')    
    title ujjainVisitors | #{title}   
    link(rel="shortcut icon", type="image/jpg" href="/images/homeImage/logoImage.jpeg")  
    link(rel='stylesheet', href='/styles/home.css')  
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    block head     
  body

    // HEADER
    include _header

    // CONTENT  
    block content 
      h1 This is a placeholder
    
    // FOOTER
    include _footer

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/js/home.js')
    block script 