extends base

block content 
   a(href="/placesMap").show-map See all the locations on map :- Click Here 
   each placesData in data 
    .heading-div
       h1.first-heading(data-aos='zoom-in')= placesData.heading       
    section.data-section
       .main-data-div
          .data-image
            img(data-aos='flip-up', src= `/images/placesImages/${placesData.images[0]}`, alt= `${placesData.heading}'s image` )           
          .data-content
            p= placesData.data
          